* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #dbeafe, #f8fbff);
    min-height: 100vh;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-content {
    width: 700px;
    background: white;
    padding: 60px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,.12);
}

h1{
    color:#2563EB;
    font-size:48px;
    margin-bottom:20px;
}

p{
    font-size:20px;
    color:#475569;
    line-height:1.8;
    margin-bottom:40px;
}

.btn{

    display:inline-block;

    background:#2563EB;

    color:white;

    text-decoration:none;

    padding:18px 40px;

    border-radius:12px;

    font-size:18px;

    transition:.3s;
}

.btn:hover{

    background:#1d4ed8;

    transform:translateY(-3px);
}
.dashboard {
    display: flex;
    min-height: 100vh;
    background: #f8fafc;
}

.sidebar {
    width: 260px;
    background: #ffffff;
    border-right: 1px solid #e2e8f0;
    padding: 24px 18px;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 22px;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 40px;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-link {
    text-decoration: none;
    color: #64748b;
    font-weight: 600;
    padding: 14px 16px;
    border-radius: 14px;
}

.nav-link:hover,
.nav-link.active {
    background: #2563eb;
    color: #ffffff;
}

.sidebar-user {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 12px;
    border-top: 1px solid #e2e8f0;
    padding-top: 20px;
}

.avatar {
    width: 42px;
    height: 42px;
    background: #2563eb;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.sidebar-user h4 {
    font-size: 14px;
    color: #1e293b;
}

.sidebar-user p {
    font-size: 12px;
    color: #64748b;
    margin: 0;
}